.git
.gitignore
.env
.env/
.build/
dist/
docs/
references/
target/
packaging/docker/certs/
packaging/docker/secrets/
packaging/docker/private.env
.idea/
.vscode/
**/__pycache__/
**/*.pem
**/*.key
**/*.pdb
**/*.log
